* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {
    height: 100%;      /* que el body ocupe toda la altura */
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;           /* ocupa todo el espacio disponible */
}

footer {
    margin-top: auto;  /* empuja el footer al final */
}

/*HEADER*/

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background-color:rgb(154, 100, 1);
}

.header-titulo {
    justify-self: start;
}

.marca-titulo {
    font-style: italic;
    color: white;
    font-size: 1.5rem;
}

.header-logo {
    justify-self: center;
}

.header-logo img{
    width: 50px;
    height: auto;
} 

.header-navegador {
    justify-self: end;
}

.header-lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.header-lista a{
    text-decoration: none;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.header-lista a:hover {
  text-decoration: underline;
}

.carritoCompras-logo{
    width: 20px;
    height: auto;
}


/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color:rgb(154, 100, 1);
    font-size: 12px;  
    color: white;      
    padding: 10px 0px 10px 0px;
}
    

.footer-lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 80px;
    margin-bottom: 15px;
}

.footer-lista a {
  color: white;
  text-decoration: none;
}

.footer-lista a:hover {
  text-decoration: underline;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* HERO BANNER */

.hero-banner {
    display: flex;
    justify-content: center; 
    align-items: start;  
}

.hero-banner-logo {
    width: 70%;
    height: auto;
    margin-top: 50px;
}


/*PRODUCTOS*/

.catalogo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    padding: 30px 50px;
}

.catalogo h2{
    grid-column: 1 / -1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:larger;
    font-style: italic;
    padding-bottom: 20px;
}

.catalogo-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.productoIndividual {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 20px 20px 40px #e0e0e0;
    background-color: bisque;
}

